/* Start Variables */
:root {
    /* --main-color: rgb(239 182 64);
    --sec-color: white;
    /* --background-color: rgb(143 80 14 / 50%);  */
    --section-padding : 100px 
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Patrick Hand","sans-serif";
    color: #212529;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;


}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(232px, 1fr));
    gap: 70px;
}
.raw {
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-bet {
    justify-content: space-between;
}
.space-ar {
    justify-content: space-around;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.center-raw {
    justify-content: center;
}
.center-col {
    align-items: center;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.clickable {
    cursor: pointer;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: currentcolor;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
      width: 970px;
  
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
      width: 1170px;
  
    }
}
.loading {
    background: white url(../images/logo.gif) no-repeat center center;
    background-size: 100px;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999999999;

}
header img {
    height: 140px;
}
header nav a {
    padding-right: 32px;
    font-size: 30px;
    color: #929292!important;
    transition: .3s;
}
header nav a.active ,
header nav a:hover {
    color: #212529!important;
}
.work,

.footer {
    background-color: #eee;
    padding: var(--section-padding);
    font-size: 30px;
}

.work img {
    transition: .3s;
}
.work img:hover {
    transform: scale(1.1);
}

.about,
.illsutration,
.projects {
    padding: var(--section-padding);
}
.about .text{
    max-width: 50%;
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 5px;
}
.about .sou{
    height: 303px;
    width: 306px;
    animation: trans 3s infinite ;

}


.illsutration img {
    margin: 7px;
    width: 100%;
    border: 1px solid #eee
}

.footer .ordernow {
    width: 326px;
    height: 322px;
    background-image: url(../images/order0.png);
    background-size: cover;
    animation: orderz 1s infinite linear;
}

.footer img {
    height: 72px;
    padding: 12px;
}

.footer .email {
    letter-spacing: 4px;
    font-size: 39px;
}

@media (max-width: 750px) {
    
     .resp {
        flex-direction: column;
        gap: 5px;
        align-items: center;
        text-align: center;
    }
    .work,
    .about,
    .illsutration,
    .projects {
        padding: var(--section-padding) 0;
    }
    .about .text{
        max-width: unset!important;

    }
    .footer .email {
    letter-spacing: 3px;
    font-size: 27px;
    }
    header nav a {
        padding: 0 16px;
        font-size: 26px;
    }
    .rtl {
        flex-direction: column-reverse;
        gap: 15px;
    }
}









@keyframes orderz {
    0% {

    }

    100% {
        background-image: url(../images/order.png);

    }
}
@keyframes trans {
 
    50% {
        transform: translateY(53px);

    }
    100% {
        transform: translateY(0px);

    }
}
